.venv/
venv/
env/

.uv/

# !uv.lock
# !pyproject.toml

__pycache__/
*.py[cod]
*$py.class

site/
dist/
build/
*.egg-info/
.eggs/

.ruff_cache/

.pytest_cache/

.mypy_cache/
.dmypy.json
dmypy.json

.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/

.env
.env.*
!.env.example